

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6600;
}

.logo a:hover {
  color: wheat;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: #ff6600;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
}

.search-box {
  padding: 7.5px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  transition: width 0.3s;
}

.search-box:focus {
  width: 500px;
}

.cart {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}

.cart img {
  width: 24px;
  height: 24px;
}








.footer p {
  font-size: 10px;
}
.ecom-footer {
  background: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 60px 20px 20px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px;
}
.footer-section h3 {
  color:#ff6600;
  margin-bottom: 15px;
}
.footer-section h4 {
  color:#ff6600;
  margin-bottom: 10px;
}
.footer-section a {
  color:white;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section a:hover {
  color: #ff4d6d;
}
.last{
  text-align: center;
}
















* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6600;
}

.logo a:hover {
  color: wheat;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: #ff6600;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
}

.search-box {
  padding: 7.5px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  transition: width 0.3s;
}

.search-box:focus {
  width: 500px;
}

.cart {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}

.cart img {
  width: 24px;
  height: 24px;
}
.about-container {
  color: #ddd;
  max-width: 800px;
  margin: 15px auto;
  background: #333;
  padding: 10px;
  border-radius: 12px;
    box-shadow: 0 10px 20px black;
}
.about-container h2{
    color: #ff6600;
}
.team {
  text-align: center;
}
.team h2 {
  margin-bottom: 30px;
  color: #ff6600;
}

.team-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-member {
  background: #fafafa;
  padding: 20px;
  border-radius: 8px;
  width: 220px;
    box-shadow: 0 10px 20px black;
}
.fb{
    text-decoration: none;
    color:#ff6600;
    
}
.fb:hover{
    color: black;
}
.team-member img { 
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.team-member h4 {
  margin: 5px 0;
  color: #333;
}

.team-member p {
  color: #777;
  font-size: 14px;
}


.footer p {
  font-size: 10px;
}
.ecom-footer {
  background: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 60px 20px 20px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px;
}
.footer-section h3 {
  color:#ff6600;
  margin-bottom: 15px;
}
.footer-section h4 {
  color:#ff6600;
  margin-bottom: 10px;
}
.footer-section a {
  color:white;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section a:hover {
  color: #ff4d6d;
}
.last{
  text-align: center;
}



























