
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6600;
}

.logo a:hover {
  color: wheat;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: #ff6600;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
}

.search-box {
  padding: 7.5px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  transition: width 0.3s;
}

.search-box:focus {
  width: 500px;
}

.cart {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}

.cart img {
  width: 24px;
  height: 24px;
}

body {
  font-family: Arial;
  background:white;
  color: #333;
}

.cart-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
.cart-container h2 {
  text-align: center;
  color: #ff6600;
  margin-bottom: 30px;
}
.cart-summary {
  margin-top: 30px;
  background: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
}

.cart-summary h3 {
  margin-bottom: 15px;
  color: #333;
}

.cart-summary p {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.cart-summary .total {
  font-size: 18px;
  font-weight: bold;
  color: #ff6600;
}

.checkout-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #ff6600;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: #e05500;
}
.badfeat{
  text-align: center;
}




.footer p {
  font-size: 10px;
}
.ecom-footer {
  background: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 60px 20px 20px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px;
}
.footer-section h3 {
  color:#ff6600;
  margin-bottom: 15px;
}
.footer-section h4 {
  color:#ff6600;
  margin-bottom: 10px;
}
.footer-section a {
  color:white;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section a:hover {
  color: #ff4d6d;
}
.last{
  text-align: center;
}

















