/* Reset and box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}








/* Signup Form */
.signup-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 1.5rem;
  color: #ff9800;
}

.signup-container input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;

}

.signup-container input:focus {
  outline: none;
  border-color: #ff9800;
}

.signup-container .btn {
  width: 100%;
  padding: 10px;
  background-color: #FF9800;
  color: #111;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-container .btn:hover {
  background: #e68900;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
}


.login-link {
    color: #FF9800;         /* Matches your button color */
    font-weight: bold;
    text-decoration: none;  /* Remove underline */
    transition: all 0.3s ease;
    text-decoration: none;
}

.login-link:hover {
    color: #e68900;         /* Slightly darker on hover */
    text-decoration: none; /* Optional hover effect */
}

