
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6600;
}

.logo a:hover {
  color: wheat;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: #ff6600;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
}

.search-box {
  padding: 7.5px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  transition: width 0.3s;
}

.search-box:focus {
  width: 500px;
}

.cart {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}

.cart img {
  width: 24px;
  height: 24px;
}

.signup-container {
  background-color:#333;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  margin: 50px auto;
    box-shadow: 0 10px 30px black;
}

.signup-container h2 {
  margin-bottom: 1.5rem;
  color:white;
}
input {
  width: 100%;
  padding: .6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.input-box:focus {
  outline: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #FF9800;
  color: #111;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.btn:hover {
  background: #e68900;
  color: #000;
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.footer p {
  font-size: 10px;
}
.ecom-footer {
  background: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 60px 20px 20px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px;
}
.footer-section h3 {
  color:#ff6600;
  margin-bottom: 15px;
}
.footer-section h4 {
  color:#ff6600;
  margin-bottom: 10px;
}
.footer-section a {
  color:white;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section a:hover {
  color: #ff4d6d;
}
.last{
  text-align: center;
}













