* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial,white;
}
.header {
  background-color:black;
  box-sizing: border-box;
  padding: 10px;;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  text-decoration:none;
  font-size: 25px;
  font-weight: bold;
  color: #ff6600;
}
.logo a:hover {
  color: wheat;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
}
.nav-links li a:hover {
  color: #ff6600;
}
.search-box {
  padding: 7.5px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  transition: width 0.3s;
}
.search-box:focus {
  width: 500px;
}
.cart {
  position: relative;
  margin-left: 15px;
  display: inline-block;
}
.cart img {
  width: 24px;
  height: 24px;
}
.full-slider{
  background-origin:content-box;
  border: 2px black bold;
}

.container{
  padding: 2rem;

}
.slider-warper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-behavior:smooth;
  box-shadow:  black;
  border-radius: 0.5rem;
}
  .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
  .slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50% ;
    transform: translateX(-50%);
    z-index: 1;
  }
  .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    transition: opacity 250ms ease;

  }
  .slider-nav a:hover{
    opacity: 1;
  }
  .fp:hover{
  color: #ff6600;
  }

  .carousel-inner img {
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.products-section {
  max-width: 100%;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.products-section h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 30px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.product-card {
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  width: 220px;
  text-align: center;
  box-shadow: 0 10px 30px black;
  transition: transform 0.4s, box-shadow 0.4s;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px black;
}
.product-card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 12px;
}
.product-card h3 {
  margin-bottom: 8px;
  color:white;
}
.product-card h3:hover{
  color: #ff6600;
}
.product-card p {
  margin-bottom: 12px;
  font-weight: bold;
  color: #ddd;
}
.product-card p:hover{
color: #ff6600;
}
.btn-gradient {
  padding: 8px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color:blanchedalmond ;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}
.btn-gradient:hover {
  background: linear-gradient(45deg, #ff6600, #ff6600);
}
.footer p {
  font-size: 10px;
}
.ecom-footer {
  background: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 60px 20px 20px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px;
}
.footer-section h3 {
  color:#ff6600;
  margin-bottom: 15px;
}
.footer-section h4 {
  color:#ff6600;
  margin-bottom: 10px;
}
.footer-section a {
  color:white;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 8px;
}
.footer-section a:hover {
  color: #ff4d6d;
}
.last{
  text-align: center;
}